@font-face {
    font-family: 'BLOKKRegular';
    src: url('../fonts/BLOKKRegular.eot');
    src: url('../fonts/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BLOKKRegular.woff') format('woff'),
         url('../fonts/BLOKKRegular.svg#BLOKKRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* HTML components */
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
	-webkit-tap-highlight-color: rgba(255,255,255,.2);
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 35px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

h1 {
	font-weight: bold;
	font-size: 1.8em;
}

/*p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 0 25px;
    font-size: 1.4em;
    line-height: 1.5;
    font-weight: normal;
    font-style: normal;
}*/

/*p .small {
    margin: 0 0 25px;
    font-size: 14px;
    line-height: 1.5;
}*/

a {
    color: transparent;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus, a:visited  {
	text-decoration: none;
    color: transparent;
}
input[type="radio"]:checked + label {
    border: 10px solid orange;
}

/* END html components */

.modal-body {
    color: #000000;
}

#drop-us-a-line {
    padding-top: 100px;
}

.radio {
    opacity: 0;
    position: absolute;
}
.label {
    text-indent: -999em;
    border: 10px solid white;
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    margin: 10px;
}

.navbar-custom {
    margin-bottom: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 20px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: nonte;


}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    padding-bottom: 5px;
    text-decoration: none;
}

header {
    width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*.header-logo {
    margin-top: 22%;
}*/
#header-start .header-logo {
	margin-left: 30px;
}

.header-text {
    margin-top: 250px;
    margin-bottom: 120px;
}

/* Sections */
#section-red {
    padding: 100px;
    background-color: #E71D32;
}
#section-almost-black {
    padding: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #101010;
}

#section-yellow {
    padding: 50px;
    padding-top: 80px;
    background-color: #FDD600;
}

#section-about {
    padding: 50px;
    padding-top: 80px;
    color: #000;
    background-color: #fff;
}

#section-white {
    padding: 100px;
    background-color: #FFFFFF;
}

#section-innovation {
	padding: 10px;
	background-color: #5AAAFA;
}

#section-research {
	padding: 10px;
	background-color: #41D6C3;
}

#section-opportunities {
	background-color: rgba(253, 214, 0, 0.8);
	background: url('../video/posters/cas1.jpg') no-repeat;
	background-size: cover;
	min-height: 600px;
}

#section-innovation-team {
    color: #C39A6F;
    padding-bottom: 360px;
    padding-top: 340px;
    background: url(../img/table-team4.gif) no-repeat bottom center scroll;;
}

#section-team {
    padding: 50px;
    padding-top: 80px;
    background-color: #fff;
    color: #000000;
} 

#section-innovation-cas {
    padding: 50px;
    padding-top: 80px;
    background-color: #fff;
    color: #000000;
} 

#section-extremeblue {
    padding: 50px;
    padding-top: 80px;
    background-color: #5596E6;
    color: #fff;
} 

#section-caslabs {
    padding: 50px;
    padding-top: 80px;
    background-color: #325C80;
    color: #fff;
}

#section-explovate {
    padding: 50px;
    padding-top: 80px;
    background-color: #00B4A0;
    color: #fff;
}

#section-research-cas
    {
    padding: 100px 100px 400px 100px;
    background-color: #fff;
    color: #000;
}

#section-working-at-cas
    {
    padding: 50px;
    padding-top: 80px;
    background-color: #fff;
    color: #000;
}

#section-jobs
    {
    padding: 50px;
    padding-top: 80px;
    background-color: #fff;
    color: #000;
}
/* END sections */

#bg-video {
    background: url('../video/posters/cas1.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: auto;
	/*z-index: 0;
    min-width: 100%;
    width: 100%!important;
    min-height: 100%!important;
    height: 100%;
    top: 0;*/
}

/* SCROLL BUTTON */
#scroll-btn {
    background-color: #FFFFFF;
    height: 50%;
    width: 100px;
    right: 15%;
    position: absolute;
    bottom: 0;
}

a.btn-square {
    width: 70px;
    height: 70px;
    margin-top: 15px !important;
    vertical-align:middle;
    line-height:70px;
    border: 2px solid #E71D32 !important;
    font-size: 40px !important;
    color: #E71D32 !important;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

a.btn-square {
	display: inline-block;
}

.btn-square :hover,
.btn-square :focus {
    outline: 0;
    color: #E71D32;
    background: rgba(255,255,255,.1);
}

.btn-square  i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-square:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

#header-research .btn-square  {
	border: 2px solid rgba(65, 214, 195, 1);
	color: rgba(65, 214, 195, 1);
}

#header-research .btn-square :hover,.btn-square :focus {
	color: rgba(65, 214, 195, 1);
}

#header-innovation .btn-square  {
	border: 2px solid rgba(85, 150, 230, 1);
	color: rgba(85, 150, 230, 1);
}

#header-innovation .btn-square :hover,.btn-square :focus {
	color:	rgba(85, 150, 230, 1);
}

#header-opportunities .btn-square  {
	border: 2px solid rgba(253, 214, 0, 1);
	color: rgba(253, 214, 0, 1);
}

#header-opportunities .btn-square :hover,.btn-square :focus {
	color:	rgba(253, 214, 0, 1);
}

/* END scroll button */

.layer {
    background-color: rgba(231, 29, 50, 0.7);
}

.layer-opportunities {
	background-color: rgba(253, 214, 0, 1);
}

.layer-research {
	background-color: rgba(65, 214, 195, 1);
}

.layer-home {
    background-image: url("../img/header-layer2.png");
    background-color: rgba(231, 29, 50, 0.9);

    background-blend-mode: multiply;
    background-repeat: repeat;
    background-size: 4px auto;
}

.layer-innovation {
	background-color: rgba(85, 150, 230, 0.7);
}

#header video {
  width:100%;
  height:100%;
}

#header-home img {
  margin-left:100px;
  margin-top:280px;
  float:left;
  width:50%;
  height:50%;
}

#header-home a.page-scroll {
    border-color: rgba(231, 29, 50, 0.7) !important;
}

#header-home a.page-scroll i {
    color: rgba(231, 29, 50, 0.7);
}

#header-opportunities a.page-scroll {
  border-color:rgba(253, 214, 0, 0.7) !important;
}

#header-opportunities a.page-scroll i {
  color:rgba(253, 214, 0, 0.7);
}

#header-research a.page-scroll {
  border-color:rgba(65, 214, 195, 0.7) !important;
}

#header-research a.page-scroll i {
  color:rgba(65, 214, 195, 0.7)
}


#header-innovation a.page-scroll {
  border-color:rgba(85, 150, 230, 0.7) !important;
}

#header-innovation a.page-scroll i {
  color:rgba(85, 150, 230, 0.7);
}

.questionnaire {
    padding-top: 150px;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #FDD600;
}


.portfolio {
    margin-top: 50px;
}

.portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

.portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

.portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #000;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

.portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

.portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
.portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

.portfolio * {
    z-index: 2;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: left;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    text-align: center;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #1F1F1F;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #1F1F1F;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#emoji1div {
    padding-top: 30px;
    margin-left: 43%;
}

#emoji2div {
    margin-left: 18%;
}

#emoji3div {

    margin-left: 45%;
}

#emoji4div {
    margin-left: 18%;
}

#emoji5div {
    margin-left: 43%;
}

#emoji6div {
    margin-left: 25%;
}

#emoji7div {
    margin-top: 10px;
    margin-left: 13%;
}

#emoji8div {
    margin-left: 25%;
}
.question {
    padding: 15px;
    text-align: left;
}
.question-title {
    font-size: 25px;
    color: #5AAAFA;
}

.panas-text {
    font-size: 15px;
    font-weight: 600;
    color: #6EEDD8;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.btn {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0px;
}

.btn-default {
    border: 2px solid #fff;
    color: #fff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-color: transparent;
    border-radius: 0px;
    padding: 15px;
	font-size: 1.6em;
}
	
.btn-default-dark {
    border: 2px solid #000;
    color: #000;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    background-color: transparent;
    border-radius: 0px;
    padding: 15px;
	font-size: 1.6em;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #fff;
    color: black;
    outline: 0;
    color: #000;
    background-color: #fff;
}

.btn-default-dark:hover,
.btn-default-dark:focus {
    border: 1px solid #000;
    color: white;
    outline: 0;
    color: #fff;
    background-color: #000;
}

.btn-dark {
    border: 1px solid #000;
    color: #000;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-color: transparent;
    border-radius: 0px;
    padding: 15px;
}

.btn-dark:hover,
.btn-dark:focus {
    border: 1px solid #000;
    color: black;
    outline: 0;
    color: #fff;
    background-color: #000;
}

#cas-footer {
    padding: 50px 0;
    line-height: 100px;
	background: #323232;
    min-height: 200px;
    height: auto;
}

#cas-footer p {
    margin: 0;
}

#cas-footer span {
	font-size: 1.2em;
    font-family: sans-serif;
}

#cas-footer img {
	width: 64px;
	height: 64px;
	margin: 5px;
}

#cas-footer img:hover,
#cas-footer img:focus {
    border: 1px solid #fff;
    outline: 0;
    color: #000;
    background-color: rgba(255, 255, 255, 0.55);
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0px;
}

.vertical-align {
    position: absolute;
    height: auto;
    width: auto;    
    left: 50%;
    top: 50%;
    background: red;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

.header-video {
    width: 100%!important;
    min-height: 100%!important;
    position: relative;
    bottom: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
}
.logo {
    margin-top: 150px;
}

/* Auxiliary classes */
.bold {
    font-weight: 600;
}

.italic-quote {
    font-style: italic;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.black-text {
	color: black !important;
}

.img-resize {
	width: 50%;
}

.align-center {
	margin: 0 auto;
}

.align-left {
	float: left;
	margin-left: 10%;
}

.display-block {
	display: block;
}

.padding-section {
	padding-top: 80px !important;
    padding-bottom: 40px !important;
}

.underline {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    padding-bottom: 5px;
    text-decoration: none;
}

.light {
    font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.medium {
    font: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 600;
}

/* END auxiliary classes */

/* Responsiveness for large devices*/
@media(min-width:767px) {
	/*p {
        margin: 0 0 35px;
		font-size: 2.0em;
		line-height: 1.2;
    }*/
	
	h1 {
		font-size: 2.8em;
	}
	
	.header-opportunities {
		background-color: #FDD600;
		padding-top: 60px;
	}
	
	.portfolio .portfolio-item {
        margin: 0 0 30px;
    }
	
	.navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

	#section-yellow {
		padding: 100px;
		background-color: #FDD600;
	}

	#section-about {
		padding: 100px;
		color: #000;
		background-color: #fff;
	}
	
	#section-innovation {
		padding: 100px;
		background-color: #5AAAFA;
	}
	
	#section-research {
		padding: 100px;
		background-color: #41D6C3;
	}
	
	.layer-home {
    min-height:768px;
	}
	.layer-research {
		min-height: 768px;
	}
	
	.layer-opportunities {
		min-height: 600px;
	}
	.layer-innovation {
		min-height: 768px;
	}

	#section-team {
		padding: 100px;
		background-color: #fff;
		color: #000000;
	} 

	#section-extremeblue {
		padding: 100px;
		background-color: #5596E6;
		color: #fff;
	} 

	#section-caslabs {
		padding: 100px;
		background-color: #325C80;
		color: #fff;
	}

	#section-explovate {
		padding: 100px;
		background-color: #152935;
		color: #fff;
	}
	#section-research-cas{
		padding: 100px 100px 400px 100px;
		background-color: #fff;
		color: #000;
	}

	#section-working-at-cas{
		padding: 100px;
		background-color: #fff;
		color: #000;
	}
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
/* END @media rule */

/* INNOVATION */
#section-innovation-transformation {
	padding: 50px;
}

#section-innovation-programs {
	background-color: #323232;
	padding: 70px;
}

#section-innovation-programs row {
	padding-bottom: 80px;
}
#section-innovation-programs h2 {
	font-size: 40px;
	letter-spacing: 10px;
	font-weight: bold;
}

#section-innovation-project {
    padding-top: 200px;
}

#project-top {
	
}

#project-top .black-bg {
	min-height: 590px;
	height: auto;
	background: #000000;
}

#project-top  .block-project{
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 30px;
}
#project-top  .block-project h1 {
	text-align: right;
}
.imgContainer {
    background-repeat: no-repeat;
    background-size: cover;
    height: 590px;
    width: 100%;
    position: absolute;
    left: 0;
	top: 0;
}
#section-research-2 .imgContainer {
	background-image: url(../img/projects-img2.jpg);
}

#section-innovation-project .imgContainer {
	background-image: url(../img/projects-img.jpg);
}

#project-top img {
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
#project-top button {
	margin-right: 20px;
}

#project-bottom {
	padding: 100px;
	background: #FFFFFF;
}

#section-innovation-cas p {
	text-align: right;
}
#section-working-at-cas p {
	text-align: right;
	margin-left: 100px;
}
#drop-us-a-line h2{
	font-weight: bold;
	margin: 0;

}
.row-white {
	background-color: white;
	font-weight: bold;
	color: black;
	text-align: center;
	padding-top: 100px;
}
.row-white p {
	font-size: 18px;

}
.arrow-right {
	width: 0;
	height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 35px solid #000000;
    z-index: 10;
    position: absolute;
    bottom: 20%;
    right: -35px;
}

.col-left {
	position: absolute; 
	bottom:0; 
	text-align: right;
	padding-right: 50px;
}

#section-working-at-cas
    {
    padding: 100px;
    background-color: #fff;
    color: #000;
}

.btn-teal {
    border: 1px solid #41d6c3;
    color: #41d6c3;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-color: transparent;
    border-radius: 0px;
    padding: 15px;
}
.btn-teal:hover,
.btn-teal:focus {
    border: 1px solid #41d6c3;
    font-color: black;
    outline: 0;
    color: #000;
    background-color: #41d6c3;
}
.btn-blue {
    border: 1px solid #5aaafa;
    color: #5aaafa;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-color: transparent;
    border-radius: 0px;
    padding: 15px;
}
.btn-blue:hover,
.btn-blue:focus {
    border: 1px solid #5aaafa;
    font-color: black;
    outline: 0;
    color: #000;
    background-color: #5aaafa;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#team-logo {
	float: left;
    margin-left: 6%;
    width: 35%;
    margin-top: 18%;
}

#opportunities-logo {
	float: left;
	margin-left: 3%;
	width: 40%;
	margin-top: 30%;	
}

.top-nav-collapse a{
	color: white !important;
}

#cas-copyright {
	margin-top: 30px;
}

.imageicon {
	width: 64px;
	height: 64px;
}

.aligncenter {
	text-align: center;
}

#footer .info {
	text-shadow:none; font-size:25px; font-weight:bold; color:#FFF; line-height:30px;
}

#footer .copyright {
	text-shadow:none; font-size:20px; color:#FFF;
}

#footer .btns a:hover {
	text-decoration:none;
}

#footer .btns a img:hover {
	background-color:rgba(255, 255, 255, .5);
	transition:background .5s;
}


#ibm-pcon {
  margin-bottom: 0 !important;
  padding-bottom:0 !important;
}


.popup {
  width:100%;
  height:100%;
  position:fixed;
  left:0;
  top:0;
  background-color:rgba(255,255,255,.8);
  display:block;
}

.hide {
  display:none;
}

#scroll-btn {
  height:425px;
  position:absolute;
  top:400px;
  text-align:center;
}

#scroll-btn a {
  width:65px;
}

#research-logo {
  margin-left:auto; margin-right:auto; margin-top:250px; width:50%;
}

.block {
  width:100%;
  min-height:100px;
  padding:10px;
  margin:1px;
  background-color:#fff;
}

.ibmfooter {
  padding:50px 0px !important;
}

.content-style {
	font-family: Arial !important;
	font-size: 30px !important;
	line-height: 1.2 !important;
	text-align: right !important;

} 